<%- include('../partials/header') %>

<h2>Enter your Ticket Information</h2>
<form action="/tickets/<%= flight._id %>" method="POST">
<label>Enter Seat Letter (A-F) and Number (1-99):
    <input name="seat" required pattern="[A-F][1-9]\d?">
</label>
<br>
<label>Enter Price:
    <input type="number" name="price">
</label>
<br>
<label>Flight Number: <i><%= flight.flightNu %> </i> leaving from this Airport: <%= flight.airport %> 
</label>
<br>
<input type="submit" value="Buy Ticket">
</form>


<%- include('../partials/footer') %>